@import url(base.css);
body{
	width:100%;
	height:100%;
	background:url("../img/1.png")no-repeat;
	background-size:100%;
	.fiexd{
		width:100%;
		height:6rem;
		position:fixed;
		top:0;
		left:0;
		z-index:2;
		background:url("../img/1.png")no-repeat;
		background-size:100%;
		padding:0 .24rem;
		box-sizing:border-box;
		header{
			width:100%;
			height:.88rem;
			color:#fff;
			padding:.24rem .24rem 0;
			box-sizing:border-box;
		.head{
			width:100%;
			height:.88rem;
			line-height:.88rem;
			text-align:center;
			display:flex;
			i{	
				display:inline-block;
				font-size:.42rem;
				float:left;
			}
			span{
				width:6.02rem;
				height:.88rem;
				font-size:.36rem;
			}
		}
	}
	//分类栏
	.fl{
		width:100%;
		height:1.2rem;
		padding:.2rem .24rem 0;
		box-sizing:border-box;
		.fl_top{
			width:100%;
			height:.42rem;
			color:#fff;
			margin-bottom:.1rem;
			ul{
				display:flex;
				justify-content:space-between;
				padding-left:.14rem;
				padding-right:.14rem;
				box-sizing:border-box;
				li{
					font-size:.22rem;
					line-height:.42rem;
					font-weight:bold;
				}
			}
		}
		.fl_bottom{
			width:100%;
			height:.6rem;
			background:#FFF;
			border-radius:.1rem;
			ul{
				display:flex;
				width:100%;
				height:100%;
				border-radius:.1rem;
				padding:.04rem;
				box-sizing:border-box;
				li{
					width:33.3%;
					height:100%;
					text-align:center;
					font-size:.26rem;
					line-height:.6rem;
				}
				li:nth-child(2){
					background:#fe3191;
					color:#fff;
				}
			}
		}
	}
	//banner
	.swiper-container{
		width:100%;
		height:3.6rem;
		margin-top:.14rem;
		position:relative;
		z-index:2;
		overflow:hidden;
		.swiper-wrapper{
			width:100%;
			height:3.4rem;
			padding:.24rem .24rem ;
			box-sizing:border-box;
			 -webkit-transition-timing-function: linear;
			  margin: 0 auto; 
			.swiper-slide{
				width:5rem;
				height:3.18rem;
				border-radius:.1rem;
				border:.06rem solid #fff;
				box-shadow:0 0 .1rem .05rem rgba(244,158,196,.5);
				margin-left:0rem;
				margin-right:0rem;
				img{
					display:block;
					width:100%;
					height:3.18rem;
				}
			}
		}
		.search{
			width:4.6rem;
			height:.68rem;
			position:absolute;
			bottom:.3rem;
			left:1rem;
			background:#fff;
			z-index:1;
			display:flex;
			border:.06rem solid #fff;
			border-radius:.34rem;
			.search_left{
				width:3.6rem;
				height:100%;
				border-top-left-radius:.34rem;
				border-bottom-left-radius:.34rem;
				input{
					border-top-left-radius:.34rem;
					border-bottom-left-radius:.34rem;
					outline:none;
					border:none;
					padding-left:.3rem;
					box-sizing:border-box;
					font-size:.24rem;
					line-height:.68rem;
				}
			}
			.search_right{
				width:1rem;
				height:100%;
				background:#fe3191;
				border-top-right-radius:.34rem;
				border-bottom-right-radius:.34rem;
				line-height:.68rem;
				text-align:center;
				i{
					font-size:.42rem;
					color:#fff;
				}
			}
		}
	}
	}
	.list{
		width:100%;
		height:auto;
		position:absolute;
		top:6.2rem;
		left:0;
		padding:0 .24rem ;
		box-sizing:border-box;
		z-index:1;
		ul{
			width:100%;
			li{
				width:100%;
				height:1.56rem;
				border-bottom:1px dotted #ccc;
				display:flex;
				.list_left{
					width:1.16rem;
					height:1.56rem;
					border:.08rem solid #fff;
					border-radius:.1rem; 
					position:relative;
					overflow:hidden;
					margin-right:.3rem;
					.hide{
						width:1.05rem;
						height:1.05rem;
						background:#fe3191;
						border-radius:.1rem;
						transform:rotate(10deg);
						position:absolute;
						top:.28rem;
						left:0;
					}
					img{
						display:block;
						width:1.05rem;
						height:1.05rem;
						border-radius:.1rem;
						position:absolute;
						top:.28rem;
						left:0;
					}
				}
				.list_right{
					width:3rem;
					height:100%;
					padding-top:.48rem;
					box-sizing:border-box;
					h4{
						font-size:.26rem;
						color:#58606d;
					}
					p{	
						color:#ccc;
						span{
							font-size:.16rem;
							
						}
					}
				}
			}
		}
	}
}